html,body,p,br{margin: 0px;padding: 0px;}
body{
	background: #E7EAE3;
}
.main{
/*    		border: 1px red solid;
*/    		padding-top: 5%;
	padding-bottom: 20%;
	background: #fff;
}
.sidebar{
/*    		border: 1px black solid;
*/    		display: none;

}
@media (min-width: 768px) {
	.sidebar{
		/*border: 3px green solid;
		*/display: block;
		text-align: center;
	}
}
span,p{
	text-align: left;
	margin-left: 10px;
	font-size: 18px;
	font-family: Palatino, "Palatino Linotype",SimSun;
}
a{
	color: #000;
}
a:hover{
	text-decoration: none;
	color:#f40;
/*	font-size: 18px;*/
}
h1,h2,h3{
	text-align: center;
	font-family: Palatino, "Palatino Linotype",SimSun;
}

h2,h3{
	margin-top:30px;
}
hr{
	width:50%;
	border-left:1px solid black;
	font-family: Palatino, "Palatino Linotype", SimSun;
}
.pcent{
	text-align:center;
}
.nav-box{
/*  border: 1px red solid;
*/  height: 50px;
	width: 100%;
	line-height: 50px;
	padding-left: 10%;
	border-bottom: 1px solid #eee;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
#top{
font-size: 30px;
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/ 
::-webkit-scrollbar 
{ 
    width: 10px; 
    height: 10px; 
    background-color: #2e2256; 
} 
   
/*定义滚动条轨道 内阴影+圆角*/ 
::-webkit-scrollbar-track 
{ 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 5px; 
    background-color: #2e2256; 
} 
   
/*定义滑块 内阴影+圆角*/ 
::-webkit-scrollbar-thumb 
{ 
    border-radius: 10px; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3); 
    background-color: #f40; 
} 
