body,br,div,html,p {
    margin: 0;
    padding: 0
}

html{
    height: 100%
}

body{
    background: #e7eae3;
    height: 100%
}
body {
    overflow:scroll;
    overflow-y:hidden;
    overflow-x:hidden;
}
.container{
    margin: 0;
    height: 95%
}

.footer{
    margin: 0;
    height: 4%
}

.main {
    padding-top: 2%;
    padding-bottom: 2%;
    background: #fff;
    margin: 0
}

.row {
    height: 98%;
    margin: 0
}

.sidebar {
    display: none;
    height: 2% margin:0px
}

@media (min-width:768px) {
    .sidebar {
        display: block;
        text-align: center
    }
}

p,span {
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
    font-family: Palatino, "Palatino Linotype", SimSun
}

a {
    color: #2e2256;
}

a:hover {
    text-decoration: none;
    color: #f40;
/*    font-size: 18px*/
}

h1,h2,h3 {
    text-align: center;
    font-family: Palatino, "Palatino Linotype", SimSun
}

h2,h3{
    margin-top: 30px
}

hr{
    width: 50%;
    border-left: 1px solid #000;
    font-family: Palatino, "Palatino Linotype", SimSun
}

.pcent{
    text-align: center
}

pre{
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap
}
