sup {
	position: relative;
	top: -0.4em;
	vertical-align: baseline;
}
sub {
	position: relative;
	top: 0.4em;
	vertical-align: baseline;
}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
@media screen and (min-device-pixel-ratio:0), (-webkit-min-device-pixel-ratio:0), (min--moz-device-pixel-ratio: 0) { .view { font-size:10em; transform:scale(0.1); -moz-transform:scale(0.1); -webkit-transform:scale(0.1); -moz-transform-origin:top left; -webkit-transform-origin:top left; } }
.layer { }.ie { font-size: 1pt; }
.ie body { font-size: 12em; }
.stl_01 {
	position: absolute;
	white-space: nowrap;
}
.stl_02 {
	height: 70.16666em;
	font-size: 1em;
	margin: 0em;
	line-height: 0.0em;
	display: block;
	border-style: none;
	width: 49.58333em;
}
.stl_03 {
	position: relative;
}
.stl_04 {
	position: absolute;
	left: 0em;
	top: 0em;
}
.stl_05 {
	position: relative;
	width: 49.58333em;
}
.stl_06 {
	height: 7.016666em;
}
.ie .stl_06 {
	height: 70.16666em;
}
@font-face {
	font-family:"IFJPDS+MicrosoftYaHeiUI";
	src:url("9a56337b-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_07 {
	font-size: 0.875em;
	font-family: "IFJPDS+MicrosoftYaHeiUI", "Times New Roman";
	color: #0070C0;
}
.stl_08 {
	line-height: 1.27002em;
}
.stl_09 {
	letter-spacing: 0.0017em;
}

.ie .stl_09 {
	letter-spacing: 0.0244px;
}
@font-face {
	font-family:"GKQHMG+MicrosoftYaHeiUI";
	src:url("695b65aa-0000-0000-0000-000000000000.woff") format("woff");
}
.stl_10 {
	font-size: 0.875em;
	font-family: "GKQHMG+MicrosoftYaHeiUI";
	color: #0070C0;
}
.stl_11 {
	letter-spacing: 0.0024em;
}

.ie .stl_11 {
	letter-spacing: 0.0333px;
}
.stl_12 {
	font-size: 0.875em;
	font-family: "IFJPDS+MicrosoftYaHeiUI", "Times New Roman";
	color: #595959;
}
.stl_13 {
	letter-spacing: -0.0043em;
}

.ie .stl_13 {
	letter-spacing: -0.0599px;
}
.stl_14 {
	font-size: 0.875em;
	font-family: "GKQHMG+MicrosoftYaHeiUI";
	color: #595959;
}
.stl_15 {
	letter-spacing: 0.0042em;
}

.ie .stl_15 {
	letter-spacing: 0.0582px;
}
@font-face {
	font-family:"SFKIGI+MicrosoftYaHeiUI-Bold";
	src:url("0d97d1d2-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_16 {
	font-size: 1.189583em;
	font-family: "SFKIGI+MicrosoftYaHeiUI-Bold", "Times New Roman";
	color: #0070C0;
}
.stl_17 {
	letter-spacing: 0em;
}

.ie .stl_17 {
	letter-spacing: 0px;
}
.stl_18 {
	font-size: 1.1875em;
	font-family: "SFKIGI+MicrosoftYaHeiUI-Bold", "Times New Roman";
	color: #0070C0;
}
.stl_19 {
	letter-spacing: 0.0012em;
}

.ie .stl_19 {
	letter-spacing: 0.0222px;
}
.stl_20 {
	letter-spacing: -0.0034em;
}

.ie .stl_20 {
	letter-spacing: -0.047px;
}
.stl_21 {
	letter-spacing: 0.001em;
}

.ie .stl_21 {
	letter-spacing: 0.0145px;
}
.stl_22 {
	letter-spacing: 0.0018em;
}

.ie .stl_22 {
	letter-spacing: 0.0256px;
}
.stl_23 {
	letter-spacing: 0.0034em;
}

.ie .stl_23 {
	letter-spacing: 0.0469px;
}
.stl_24 {
	letter-spacing: 0.0036em;
}

.ie .stl_24 {
	letter-spacing: 0.0508px;
}
.stl_25 {
	letter-spacing: 0.004em;
}

.ie .stl_25 {
	letter-spacing: 0.056px;
}
.stl_26 {
	letter-spacing: -0.006em;
}

.ie .stl_26 {
	letter-spacing: -0.0843px;
}
.stl_27 {
	font-size: 0.875em;
	font-family: "GKQHMG+MicrosoftYaHeiUI";
	color: #0563C1;
}
.stl_28 {
	letter-spacing: -0.0002em;
}

.ie .stl_28 {
	letter-spacing: -0.0025px;
}
.stl_29 {
	letter-spacing: 0.0037em;
}

.ie .stl_29 {
	letter-spacing: 0.0518px;
}
.stl_30 {
	letter-spacing: -0.0014em;
}

.ie .stl_30 {
	letter-spacing: -0.0194px;
}
.stl_31 {
	letter-spacing: 0.0013em;
}

.ie .stl_31 {
	letter-spacing: 0.0185px;
}
.stl_32 {
	letter-spacing: 0.0025em;
}

.ie .stl_32 {
	letter-spacing: 0.0355px;
}
.stl_33 {
	letter-spacing: -0.0006em;
}

.ie .stl_33 {
	letter-spacing: -0.0111px;
}
.stl_34 {
	font-size: 0.875em;
	font-family: "SFKIGI+MicrosoftYaHeiUI-Bold", "Times New Roman";
	color: #0070C0;
}
.stl_35 {
	letter-spacing: -0.0134em;
}

.ie .stl_35 {
	letter-spacing: -0.1878px;
}
@font-face {
	font-family:"HLEOUS+MicrosoftYaHeiUI-Bold";
	src:url("8428ccc8-0001-0000-0000-000000000000.woff") format("woff");
}
.stl_36 {
	font-size: 0.875em;
	font-family: "HLEOUS+MicrosoftYaHeiUI-Bold";
	color: #0070C0;
}
.stl_37 {
	letter-spacing: -0.0135em;
}

.ie .stl_37 {
	letter-spacing: -0.1891px;
}
.stl_38 {
	letter-spacing: -0.0169em;
}

.ie .stl_38 {
	letter-spacing: -0.237px;
}
.stl_39 {
	letter-spacing: -0.0145em;
}

.ie .stl_39 {
	letter-spacing: -0.2029px;
}
.stl_40 {
	letter-spacing: 0.0051em;
}

.ie .stl_40 {
	letter-spacing: 0.0709px;
}
.stl_41 {
	letter-spacing: -0.0114em;
}

.ie .stl_41 {
	letter-spacing: -0.1594px;
}
.stl_42 {
	letter-spacing: 0.0016em;
}

.ie .stl_42 {
	letter-spacing: 0.0223px;
}
